.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url('C:/Users/SIVA SRINIVASAN S/Deeplearning/frontend/src/bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  margin-top: 50px;
}

.preview img {
  margin-top: 20px;
}

.result {
  margin-top: 20px;
}
